:root {

    --text: #eefde6;
    --background: #0c2303;
    --primary: #9ff572;
    --secondary: #0ca672;
    --accent: #3af1e6;

}

body {

    background-color: var(--background);
    color: var(--text);

}

.container {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--secondary);
    text-align: center;
}

h1 {
    text-align: center;
    color: var(--primary);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary);
}